body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway";
}

p {
  color: #8f8f8f;
}

/* Headings */
.big-heading {
  font-family: "Raleway";
  font-size: 3.5rem;
  line-height: 1.5;
}

.big-heading a
{
  color:white;
}

.big-heading a:hover
{
  text-decoration:none;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */
.container-fluid {
  padding: 7% 15%;
}

/* Sections */
.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #f0f0f0;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Raleway";
  font-size: 1.5rem;
}

.navbar-brand img {
  max-height: 70px;
  margin-right: 10px;
}

.nav-item {
  padding: 0 15px;
}

.nav-link {
  font-size: 1rem;
  font-family: "Montserrat";
}

/* Buttons */
.download-button {
  font-size: 1rem;
  margin: 5% 3% 5% 0;
}

/* Title Section */
#title {
  background-color: #9437FF;
  color: #fff;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

/* Title Image */
.title-image {
  width: 40%;
  position: absolute;
  right: 30%;
}

/* Features Section */
#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 4.5%;
}

.icon {
  color: #9437FF;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #9437FF;
}

.intro {
  max-width: 75%;
}

/* Testimonial Section */
#testimonials {
  background-color: #9437FF;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 65%;
  margin: 20px;
  border-radius: 7px;
  box-shadow: 10px 10px 5px #000;
}

#press {
  background-color: #f0f0f0;

  margin-top: 5%;
  margin-left: 50%;
  margin-right: 50%;
}

.press-logo {
  width: 50px;
  margin: 5px 20px 10px;
}

/* Pricing Section */
#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

.card {
  box-shadow: 2px 2px 2px lightgrey;
}

.go-btn:hover {
  text-decoration: none;
}

/* CTA Section */

.community iframe {
  box-shadow: 10px 10px 5px #000;
  border-radius: 7px;
  margin-bottom: 2.5rem;
}

/* Spotify Player */

.spotify-player
{
  color:white;
  background-image:url(../images/giphy.gif);
}

.player {
  margin: 2rem;
}

/* Footer Section */
.social-icon {
  margin: 20px 10px;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
